<footer class="bg-black text-white p-4">
  <div  class="grid md:grid-cols-3 tracking-widest">
   <div class="mt-15">
     <span routerLink="/" class="text-sm mt-15 ml-10 hover:text-sky-300 cursor-pointer">HOME</span>
     <span routerLink="/biography" class="text-sm mt-15 ml-10 hover:text-sky-300 cursor-pointer">BIOGRAPHY</span>
     <span routerLink="/about-us" class="text-sm mt-15 ml-10 hover:text-sky-300 cursor-pointer">ABOUT US</span>
   </div>

    <div class="col-span-3">
      <p class="text-6xl mt-10 ml-10 tracking-wide font-bold">BIOGRAFI PAK YUDI</p>
    </div>

    <div class="col-span-3">
      <p class="text-right mt-20 mr-10">&copy; 2025 Kelompok 1</p>
    </div>
  </div>
</footer>
