<div class="bg-[#101828] text-white py-20 px-10 rounded-4xl  mx-10 my-10 md:mx-20 md:my-20">

  <h1 class="text-4xl md:text-7xl md:m-[10px] leading-15 md:leading-25 font-bold mb-10 md:mb-0 md:mt-20">EVERYTHING ABOUT OUR
    TEAM</h1>

  <div class="grid grid-cols-1 gap-20 md:grid-cols-3 md:m-[100px] md:gap-20 mb-60 md:mx-2">
    <div class="relative w-fit group">
      <img
        src="andra.jpeg"
        alt="Andra Angjaya"
        class="rounded-2xl w-120 h-120 object-cover transition-all duration-500 group-hover:opacity-50 mb-5"
      />

      <p class="text-2xl font-bold text-white md:text-2xl tracking-wide mb-1">Andra Angjaya</p>
      <p class="text-lg font-normal text-gray-300 md:text-2xl tracking-wide mb-1">Web Developer</p>
      <p class="text-xs font-normal text-gray-300 md:text-lg tracking-wide">X RPL 4 - 04</p>

      <div
        class="absolute bottom-40 left-2 right-0 bg-opacity-70 p-4 rounded-2xl
           translate-y-8 opacity-0 transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100"
      >
        <p class="text-sm text-white mt-2">
          "There is no such thing as 'The Right Choice' no matter how hard you think, how hard you try, how well you
          plan. You will always end up making 'The Wrong Choice' Life isn't about how well you perform in every
          circumstances. It's about how you accept every wrongness and live with it."
        </p>
      </div>
    </div>

    <div class="relative w-fit group">
      <img
        src="image7.jpg"
        alt="Muhammad Aziiz"
        class="rounded-2xl w-120 h-120 object-cover transition-all duration-500 group-hover:opacity-50 mb-5"
      />

      <p class="text-2xl font-bold text-white md:text-2xl tracking-wide mb-1">Muhammad Aziiz</p>
      <p class="text-lg font-normal text-gray-300 md:text-2xl tracking-wide mb-1">Web Designer</p>
      <p class="text-xs font-normal text-gray-300 md:text-lg tracking-wide">X RPL 4 - 24</p>

      <div
        class="absolute bottom-40 left-2 right-0 bg-opacity-70 p-4 rounded-2xl
           translate-y-8 opacity-0 transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100"
      >
        <p class="text-sm text-white mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis perferendis hic asperiores quibusdam quidem
          voluptates doloremque reiciendis nostrum harum. Repudiandae?
        </p>
      </div>
    </div>

    <div class="relative w-fit group">
      <img
        src="faiz.jpeg"
        alt="Muhammad Faiz"
        class="rounded-2xl w-120 h-120 object-cover transition-all duration-500 group-hover:opacity-50 mb-5"
      />

      <p class="text-2xl font-bold text-white md:text-2xl tracking-wide mb-1">Muhammad Faiz</p>
      <p class="text-lg font-normal text-gray-300 md:text-2xl tracking-wide mb-1">Web Designer</p>
      <p class="text-xs font-normal text-gray-300 md:text-lg tracking-wide">X RPL 4 - 25</p>

      <div
        class="absolute bottom-40 left-2 right-0 bg-opacity-70 p-4 rounded-2xl
           translate-y-8 opacity-0 transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100"
      >
        <p class="text-sm text-white mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis perferendis hic asperiores quibusdam quidem
          voluptates doloremque reiciendis nostrum harum. Repudiandae?
        </p>
      </div>
    </div>

    <div class="relative w-fit group">
      <img
        src="chelsea.jpeg"
        alt="Chelsea Shelia"
        class="rounded-2xl w-120 h-120 object-cover transition-all duration-500 group-hover:opacity-50 mb-5"
      />

      <p class="text-2xl font-bold text-white md:text-2xl tracking-wide mb-1">Chelsea Shelia</p>
      <p class="text-lg font-normal text-gray-300 md:text-2xl tracking-wide mb-1">Concept Designer</p>
      <p class="text-xs font-normal text-gray-300 md:text-lg tracking-wide">X RPL 4 - 27</p>

      <div
        class="absolute bottom-40 left-2 right-0 bg-opacity-70 p-4 rounded-2xl
           translate-y-8 opacity-0 transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100"
      >
        <p class="text-sm text-white mt-2">
          "Setiap program yang baik dimulai sebagai program yang buruk."
        </p>
      </div>
    </div>

    <div class="relative w-fit group">
      <img
        src="zahran.jpeg"
        alt="Zahran Hardinata"
        class="rounded-2xl w-120 h-120 object-cover transition-all duration-500 group-hover:opacity-50 mb-5"
      />

      <p class="text-2xl font-bold text-white md:text-2xl tracking-wide mb-1">Zahran Hardinata</p>
      <p class="text-lg font-normal text-gray-300 md:text-2xl tracking-wide mb-1">Concept Designer</p>
      <p class="text-xs font-normal text-gray-300 md:text-lg tracking-wide">X RPL 4 - 34</p>

      <div
        class="absolute bottom-40 left-2 right-0 bg-opacity-70 p-4 rounded-2xl
           translate-y-8 opacity-0 transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100"
      >
        <p class="text-sm text-white mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis perferendis hic asperiores quibusdam quidem
          voluptates doloremque reiciendis nostrum harum. Repudiandae?
        </p>
      </div>
    </div>

    <div class="relative w-fit group">
      <img
        src="aksa.jpeg"
        alt="Muchamad Aksa"
        class="rounded-2xl w-120 h-120 object-cover transition-all duration-500 group-hover:opacity-50 mb-5"
      />

      <p class="text-2xl font-bold text-white md:text-2xl tracking-wide mb-1">Muchamad Aksa</p>
      <p class="text-lg font-normal text-gray-300 md:text-2xl tracking-wide mb-1">Information Researcher</p>
      <p class="text-xs font-normal text-gray-300 md:text-lg tracking-wide">X RPL 4 - 23</p>

      <div
        class="absolute bottom-40 left-2 right-0 bg-opacity-70 p-4 rounded-2xl
           translate-y-8 opacity-0 transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100"
      >
        <p class="text-sm text-white mt-2">
          "Ini pulang nya kemana ya, kekanan ada luka, kekiri ada kecewa, di depan ada penghianatan, ke belakang ada
          penyesalan."
        </p>
      </div>
    </div>
  </div>
</div>




