<div class="max-w-7xl mx-auto bg-white p-6 mt-30 mb-30">
  <h1 class="text-6xl md:text-8xl font-bold text-center mb-20 tracking-widest md:tracking-[2rem] md:ml-15">BIOGRAFI</h1>

  <div class="grid grid-cols-1 items-center bg-black text-white py-4 px-4 mt-4
            text-center font-bold text-2xl relative overflow-hidden
            transition-transform duration-300 hover:scale-105 group hover:text-black cursor-pointer">

    <span class="relative z-10">Muhammad Agus Wahyudi S.Pd</span>

    <span class="absolute inset-y-0 left-0 w-1/2 bg-white scale-x-0 origin-left transition-transform duration-300 group-hover:scale-x-100"></span>
    <span class="absolute inset-y-0 right-0 w-1/2 bg-white scale-x-0 origin-right transition-transform duration-300 group-hover:scale-x-100"></span>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-20 relative">
    <div class="text-black text-2xl space-y-6 relative">
      <div>
        <img src="image18.jpeg" class="outline-8 rounded w-[400px]">
      </div>

      <div class="space-y-2 mt-10">
        <h1 class="font-bold text-4xl">Nama</h1>
        <span>Muhammad Agus Wahyudi S.Pd</span>
      </div>

      <div class="space-y-2">
        <h1 class="font-bold text-4xl">Tempat/Tgl. Lahir</h1>
        <span>Denpasar, 23 Agustus 1999</span>
      </div>

      <div class="space-y-2">
        <h1 class="font-bold text-4xl">Jenis Kelamin</h1>
        <span>Laki-Laki</span>
      </div>

      <div class="space-y-2">
        <h1 class="font-bold text-4xl">Status Perkawinan</h1>
        <span>Kawin</span>
      </div>

      <div class="space-y-2">
        <h1 class="font-bold text-4xl">Kewarganegaraan</h1>
        <span class="">Warga Negara Indonesia (WNI)</span>
      </div>

      <div class="space-y-2">
        <h1 class="font-bold text-4xl">Anak ke</h1>
        <span>2 dari 2 bersaudara</span>
      </div>

      <div class="space-y-2">
        <h1 class="font-bold text-4xl">Agama</h1>
        <span>Islam</span>
      </div>

      <div class="hidden md:block absolute top-0 right-[-10px] h-338 w-px bg-black mx-1"></div>
    </div>

    <div class="text-black text-2xl space-y-6 md:ml-15">
      <div class="space-y-2">
        <h1 class="font-bold text-4xl space-y-2">Riwayat Pendidikan</h1>
        <ul class="list-disc pl-6 space-y-2">
          <li class="pl-2 ml-1">TK Aisyah Bustanul Athfal</li>
          <li class="pl-2 ml-1">SD Muhammadiyah 1</li>
          <li class="pl-2 ml-1">MTs Al Muhajirin</li>
          <li class="pl-2 ml-1">SMK TI Bali Global Denpasar</li>
          <li class="pl-2 ml-1">STAI Denpasar Bali</li>
        </ul>
      </div>

      <div class="space-y-2">
        <h1 class="font-bold text-4xl space-y-2">Riwayat Organisasi</h1>
        <ul class="list-disc pl-6 space-y-2">
          <li class="pl-2 ml-1">Remas Al Ikhlas</li>
          <li class="pl-2 ml-1">Sekretaris Jam'iyah Pecinta Sholawat Denpasar</li>
          <li class="pl-2 ml-1">Anggota Jam'iyah Istighosah Amnaniyah Sirojuth Tholibin</li>
          <li class="pl-2 ml-1">OSIS MTs Al Muhajirin</li>
          <li class="pl-2 ml-1">OSIS SMK TI Bali Global Denpasar</li>
          <li class="pl-2 ml-1">Ketua BEM / Presiden Mahasiswa STAI Denpasar Bali</li>
        </ul>
      </div>
    </div>
  </div>
</div>
