<div class="max-w-7xl mx-auto bg-white p-6 mt-30 mb-30">
  <h1 class="text-7xl font-bold text-center mb-20">LOREM IPSUM DOLOR SIT AMET</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 items-center bg-black text-white py-2 px-4 mt-4">
    <span class="font-bold text-center">LOREM IPSUM DOLOR SIT AMET</span>
    <span class="text-center">loremipsum&commat;gmail.com</span>
  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-6 ">
    <div class="bg-black text-white text-2xl">
      <div>
        <img src="albert.jpg">
      </div>

      <div>
        <h1>Nama</h1>
      </div>

      <div>
        <h1>Tempat/Tgl. Lahir</h1>
      </div>

      <div>
        <h1>Jenis Kelamin</h1>
      </div>

      <div>
        <h1>Alamat</h1>
      </div>

      <div>
        <h1>Hobi</h1>
      </div>

    </div>
    <div class="bg-black text-white text-2xl">
      <div>
        <h1>Riwayat Pendidikan</h1>
      </div>
      <div>
        <h1>Riwayat Organisasi</h1>
      </div>

    </div>


  </div>

</div>
